[submodule "docs/Boards/Kendryte/DNK230D"]
	path = docs/Boards/Kendryte/DNK230D
	url = https://github.com/openedv/openedv-wiki-boards-dnk230d.git
[submodule "docs/Boards/Linux/IMX6U"]
	path = docs/Boards/Linux/IMX6U
	url = https://github.com/openedv/openedv-wiki-boards-IMX6U.git
